<h1 style="font-family: Monospace, monaco; text-align: center">Bookmark Manager</h1>

<ul style="list-style-type:square;">
  <% @bookmarks.each do |bookmark| %>
    <li class='bookmark' id='bookmark-<%= bookmark.id %>'>
      <a href="<%= bookmark.url %>" target='_blank'>
        <%= bookmark.title %>
      </a>
      <form style="display:inline;" action='/bookmarks/<%= bookmark.id %>' method='post'>
        <input type='hidden' name='_method' value='DELETE'/>
        <input type='submit' value='Delete' />
        </form>
    </li>
  <% end %>
</ul>

<body style="background-color: #F5F5F5"></body>
<center><img src='http://www.baltana.com/files/wallpapers-5/White-Background-Wallpaper-16577.jpg'><center>
